<h3>
  Lessons:
</h3>
<mat-list>
  <mat-list-item>
    <a mat-button routerLink="/lesson3" routerLinkActive="active">
      Lesson 3
    </a>
  </mat-list-item>
  <mat-list-item>
    <a mat-button routerLink="/lesson2" routerLinkActive="active">
      Lesson 2
    </a>
  </mat-list-item>
  <mat-list-item>
    <a mat-button routerLink="/lesson1" routerLinkActive="active">
      Lesson 1
    </a>
  </mat-list-item>
</mat-list>
<h3>
  Exercises:
</h3>
<mat-list>
  <mat-list-item>
    <a mat-button routerLink="/exercise3" routerLinkActive="active">
      Exercise 3
    </a>
  </mat-list-item>
  <mat-list-item>
    <a mat-button routerLink="/exercise2/florian" routerLinkActive="active">
      Exercise 2
    </a>
  </mat-list-item>
  <mat-list-item>
    <a mat-button routerLink="/exercise2/stefan" routerLinkActive="active">
      Exercise 2 - Stefan
    </a>
  </mat-list-item>
  <mat-list-item>
    <a mat-button routerLink="/exercise2/josef" routerLinkActive="active">
      Exercise 2 - Josef
    </a>
  </mat-list-item>
  <mat-list-item>
    <a mat-button routerLink="/exercise1" routerLinkActive="active">
      Exercise 1
    </a>
  </mat-list-item>
</mat-list>
