<h1>{{ birthday | date:"MM/dd/yy" }}</h1>
<ng-content></ng-content>

<button (click)="switchIf($event)">Switch if</button>

<ng-container *ngIf="showIf; else template">
  <h3>This is inside a ng-container</h3>
  <h4>name: {{ name }}</h4>
</ng-container>
<ng-content select="[second]"></ng-content>

<ng-template #template>
  <h3>This is inside a ng-template</h3>
  <ng-container *ngFor="let item of config; index as i;">
    <h1>config-values: {{ item }} ngforIndex {{ i }}</h1>
  </ng-container>
</ng-template>

<ng-content select="[third]"></ng-content>
