.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header {
  position: relative;
  height: 50px;
  .navigation-toogle {
    position: absolute;
    right: 20px;
  }
}
.content {
  flex-basis: auto;
  flex-grow: 1;
}
.footer {
  height: 25px;
}
